{# afficher.html.twig : modifie les messages#}

{% extends "EmdsMiniblogBundle::layout.html.twig" %}

{% block title %}{{parent()}} - Modifications des messages {% endblock %}
{% block miniblog_body %}
    <h2>Modification d'un message</h2>
    {% include "EmdsMiniblogBundle:Default:form.html.twig" %}
{% endblock %}